body {
  color: #2e2f42;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* --------------------HEADER-------------------- */
.header {
}

.navigation {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-part {
  color: #4d5ae5;
}
color: #404bbf;
.navigation-list {
}

.navigation-item {
}

.navigation-item-link {
  font-weight: 500;
  color: #2e2f42;
}

address {
  font-style: normal;
}

.contacts {
}

.contacts-list {
}

.contacts-item {
}

.contacts-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.navigation-item-link:hover,
.navigation-item-link:focus,
.contacts-item-link:hover,
.contacts-item-link:focus {
  color: #404bbf;
}

/* --------------------HERO-------------------- */

.main {
}
.hero-section {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

/* --------------------FOOTER-------------------- */

.footer-logo {
  color: #f4f4fd;
}
